<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam classifier</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
   <div class = "container">
    <h1>📧 Spam Message Classifier</h1>
    <p>Enter an SMS or email message below.</p>
    <textarea id="message" placeholder="Type or paste your message here...">

    </textarea>
    <div class="buttons">
        <button id="predict-btn">predict</button>
        <button id="clear-btn">clear</button>
    </div>
    <div id="result" class="result-box">
        Your prediction results will appear Here.
    </div>
    <footer>
         Powered by FastAPI • Scikit-learn
    </footer>


   </div>


    <script src="/static/scripts.js"></script>
</body>
</html>
